.footersection{
    position: fixed;
    z-index: 1000;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}
.footersection footer{
    display: block;
    padding: 10;
    background: grey;
    text-align: center;
    justify-content: center;
    margin: auto;
}